@import '~office-ui-fabric-react/dist/sass/References.scss';

.leaveRecordsDashboard {
  overflow: hidden;
  padding: 1em;
  font-weight: bolder;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.leaveTitleBar {
  height: 45px;
  font-size: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  align-content: center;

  .leaveTitleBarItem {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
  }

  .toggle {
    margin: 0px;
    font-size: 20px;
    font-weight: bolder;

    Button {
      align-self: center;
    }
  }
}

.leaveOverview {
  text-align: left;
  font-size: 12px;

  .leaveTotal {
    width: fit-content;
    padding: 0px 5px;
    border: 1px solid transparent;
    border-radius: 15px;
    background: steelblue;
    color: whitesmoke;
  }
  
  .leaveTaken {
    width: fit-content;
    padding: 0px 5px;
    border: 1px solid transparent;
    border-radius: 15px;
    background: darkgray;
    color: whitesmoke;
  }
  
  .leaveRemaining {
    width: fit-content;
    padding: 0px 5px;
    border: 1px solid transparent;
    border-radius: 15px;
    background: lightseagreen;
    color:whitesmoke;
  }
}

.filterSection {
  margin: 50px 0px 20px;
  text-align: left;
  font-size: 12px;

  .datePicker {
    width: 90%;
    height: 24px;
    line-height: 24px;
  }
  
  .dropdown {
    width: 90%;

    span {
      font-size: 12px;
      padding: 0px 0px 0px 4px;
      height: 24px;
      line-height: 24px;
      border-color: #989898;
    }
  }
}

.calendarEvents {
  width: 100%;
  height: 17px;
  background: lightsteelblue;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: bolder;
  display: flex;
  align-items: center;

  &:hover {
    background: rgb(187, 208, 236);
  }
}

.leaveContentView {
  margin: 20px 10px;
  font-size: 12px;

  .leaveListEmpty {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaveTable {
    margin: none;
    font-size: 14px;
    line-height: 1;

    th {
      padding: 8px;
      font-size: 12px;
    }

    td {
      padding: 8px;
      font-size: 12px;
    }

    .page_link {
      padding: 2px 7px;
      font-size: 14px;
    }
  }
}

#expandIcon {
  width: 30px;
  height: 30px;
  color: #555555;
  align-self: center;
}

#viewSwitchIcon {
  width: 40px;
  height: 40px;
  color: #1e2b37;
  align-self: center;
}

.iconButton {
  padding: 2px;
  width: 24px;
  height: 24px;
  color: lightslategray;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
  background: darkgrey;
  height: 0.5px;
}

.box5px {
  height: 5px;
}

.footer {
  margin: 0px 10px;
  font-size: 10px;
  color: darkred;
}