@import '~office-ui-fabric-react/dist/sass/References.scss';

.attendanceRecordsDashboard {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.attendanceTitleBar {
  font-size: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.filterSection {
  margin: 20px 10px 20px;
  text-align: left;
  font-size: 12px;
  
  .datePicker {
    max-width: 100%;

    input {
      border: none !important;
      border-width: 0 !important;
    }
  }

  .dropdown {
    height: 23.5px;
    width: 90%;
    line-height: 23.5px;
    color: #989898;

    span {
      font-size: 12px;
      padding: 0px 0px 0px 4px;
      height: 23.5px;
      line-height: 23.5px;
    }
  }
}

.attendanceList {
  margin: 20px 10px;
  font-size: 12px;

  .attendanceListEmpty {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .attendanceTable {
    margin: none;
    font-size: 14px;
    line-height: 1;

    th {
      padding: 8px;
      font-size: 12px;
    }

    td {
      padding: 8px;
      font-size: 12px;
    }

    .page_link {
      padding: 2px 7px;
      font-size: 14px;
    }
  }
}

#mediumIcon {
  width: 24px;
  height: 24px;
  color: #555555;
}

.iconButton {
  padding: 2px;
  width: 24px;
  height: 24px;
  color: lightslategray;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
  background: darkgrey;
  height: 0.5px;
}

.box5px {
  height: 5px;
}

.footer {
  margin: 0px 10px;
  font-size: 10px;
  color: darkred;
}