@import '~office-ui-fabric-react/dist/sass/References.scss';

.attendanceRecordsDashboard {
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

// .attendanceTitleBar {
//   font-size: 30px;
//   margin-bottom: 10px;
//   display: flex;
//   align-items: center;
// }

.noPadding {
  padding: 0px !important;
}

.filterButton {
  padding: 0px !important;
  display: flex;
  align-items: end;
}

.datePickerPopper {
  z-index: 2;
}

.dropdown {
  outline: none !important;
  display: block;
  width: 100%;
  height: calc(1.5em + .5rem + 2px);
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .2rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  span {
    height: calc(1.5em + .5rem + 2px);
    font-size: .875rem;
    color: gray;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }
}

.attendanceList {
  padding: 0px !important;
  margin: 30px 0px 20px;

  .attendanceListEmpty {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .attendanceTable {
    margin: none;
    font-size: 14px;
    line-height: 1;

    th {
      padding: 8px;
      font-size: 12px;
    }

    td {
      padding: 8px;
      font-size: 12px;
    }

    .page_link {
      padding: 2px 7px;
      font-size: 14px;
    }
  }
}

#mediumIcon {
  width: 24px;
  height: 24px;
  color: #555555;
}

.iconButton {
  padding: 2px;
  width: 24px;
  height: 24px;
  color: lightslategray;
  outline: none !important;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
  background: darkgrey;
  height: 0.5px;
}

.footer {
  margin: 0px 10px;
  font-size: 10px;
  color: darkred;
}