@import '~office-ui-fabric-react/dist/sass/References.scss';

.userSummaryDashboard {
  overflow: hidden;
  font-size: 14px;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.noPadding {
  padding: 0px !important;
}

.colCenter {
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
  }
}

.attendanceList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attendanceRow {
  margin: 4px 0px;
}

.link {
  text-decoration: none;
  color: rgb(135, 100, 184) !important;
}

#largeIcon {
  width: 60px;
  height: 60px;
  color: #666666;
}

.divider {
  margin-top: 3px;
  margin-bottom: 3px;
  background: darkgray;
  height: 0.5px;
}

